<!doctype html>
<html>
    <head>
        <title>Create Certificate</title>
        <link rel="stylesheet" type="text/css" href="css/reset.css">
        <link rel="stylesheet" type="text/css" href="css/structure.css">


    </head>
    <body>

        <p style="text-align:center"><h1>VTCT Blockchain Prototype</h1></p>
    <h3>Home | <a href="/logout">Logout</a></h3> 
        <hr>
        <fieldset style="margin-top: 100px;">

            <p style="text-align:center; font-size: 15px; margin-bottom:  100px;">Welcome <strong><%- username %></strong> to certificate management prototype.</p>
            <br><br>
             <div id="bobox">
            <span id="bbox"><strong><a href="/createcert">Create Certificate</a></strong></span>
            <span id="bbox"><strong><a href="/verifycert">Verify Certificate</a></strong></span>


        </div>


        </fieldset>


    </body>
</html>
