<!doctype html>
<html>
    <head>
        <title>Create Certificate</title>
        <link rel="stylesheet" type="text/css" href="css/reset.css">
        <link rel="stylesheet" type="text/css" href="css/structure.css">


    </head>
    <body>

        <p style="text-align:center"><h1>VTCT Blockchain Prototype</h1></p>
        <hr>
        <fieldset>

            <p style="text-align:center; font-size: 15px">Welcome <strong><%- username %></strong> to certificate management tool.</p> 
            <br><br>
             <div id="bobox">
            <span id="bbox"><strong><a href="/createcert">Create Certificate</a></strong></span>
            <span id="bbox"><strong><a href="/verifycert">Verify Certificate</a></strong></span>
            <span id="bbox"><strong><a href="/">Logout</a></strong></span>

        </div>
            
            
        </fieldset>
       

    </body>
</html>
