<!doctype html>
<html>
    <head>
        <title>User login</title>
        <link rel="stylesheet" type="text/css" href="css/reset.css">
        <link rel="stylesheet" type="text/css" href="css/structure.css">

    </head>
    <body>
         <p style="text-align:center"><h1>VTCT Blockchain Prototype</h1></p>
        <hr>

        <form action="/login" method="post" class="box login">
            <fieldset class="boxBody">

                <label>Username</label>
                <input type="text" tabindex="1" placeholder="Enter blockchain service enrollId" name="username" required>
                <label>Secret</label>
                <input type="password" tabindex="2"  name="password" required>
            </fieldset>
            <footer>
                <% if (er) { %>
                <p style="text-align: center;color: red; font-weight: bold;">Failed: Invalid username or password</p>
                <% } %>
                <input type="submit" class="btnLogin" value="Login" tabindex="4">

            </footer>

        </form>
    </body>
</html>
