<!doctype html>
<html>
    <head>
        <title>Create Certificate</title>
        <link rel="stylesheet" type="text/css" href="css/reset.css">
        <link rel="stylesheet" type="text/css" href="css/structure.css">
    </head>
    <body>
        <p style="text-align:center"><h1>VTCT Blockchain Prototype</h1></p>
        <hr>
        <h3><a href="/dashboard">Home</a> | <a href="/createcert">Create</a> | <a href="/logout">Logout</a></h3>
        <hr>
        <p style="text-align:center; font-size: 15px; font-weight: bold;">Verify certificate</p>
        <br><br>


        <form method="post" action="/verifycert" id="uploadForm" encType="multipart/form-data">


            <table style="float: left; margin-left: 500px;">
                <tr>
                    <td><strong>Verify Certificate</strong>   </td>
                    <td><input type="file" name="certificate" size="50"></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center">--Or--</td>
                </tr>
                <tr>
                    <td><strong>User Name</strong></td>
                    <td><input type="text" name="user_name" size="50"></td>
                </tr>
                <tr>
                    <td></td><td><input type="submit" name="Verify" value="Verify"></td>
                </tr>


            </table>
        </form>
        <br><br>
        <table style="float: left; margin-left: 550px;">
            <tr>
                <td>
                    <hr>
                    <% if (er) { %>
                    <p style="text-align: center;color: red; font-weight: bold;">Invalid certificate or no ledger transaction found against user!</p>
                    <% } else if(msg) { %>

                    <p style="text-align: center;color: blue; font-weight: bold;">Valid Certificate or User entry found</strong>  </p>

                    <table border='2' cellpadding='2' cellspacing='2' style='border: 5px;'>

                        <tr>
                            <td><strong>Certificate Owner: &nbsp;</strong></td><td><%= msg.owner %></td>
                        </tr>
                        <tr>
                            <td><strong>Unit Title: &nbsp;</strong></td><td><%= msg.unittitle %></td>
                        </tr>
                        <tr>
                            <td><strong>Qualification Id: &nbsp;</strong></td><td><%= msg.qualid %></td>
                        </tr>
                        <tr>
                            <td><strong>Unit Id: &nbsp;</strong></td><td><%= msg.unitid %></td>
                        </tr>
                        <tr>
                            <td><strong>Issued to: &nbsp;</strong></td><td><%= msg.user %></td>
                        </tr>
                        <tr>
                            <td><strong>Certificate hash: &nbsp;</strong></td><td><%= msg.certificate %></td>
                        </tr>
                    </table>


                       <% }  %>
                </td>
            </tr>

        </table>
    </body>
</html>
