<!doctype html>
<html>
    <head>
        <title>Create Certificate</title>
        <link rel="stylesheet" type="text/css" href="css/reset.css">
        <link rel="stylesheet" type="text/css" href="css/structure.css">
    </head>
    <body>
        <p style="text-align:center"><img src="/images/logo.png" width="200" /></p>
        <p style="text-align:center"><a href="/dashboard">Back to home</a></p>
        <hr>
        <p style="text-align:center; font-size: 15px; font-weight: bold;">Verify certificate</p> 
        <br><br>


        <form method="post" action="/verifycert" id="uploadForm" encType="multipart/form-data">
     
      
            <table style="float: left; margin-left: 600px;">
                <tr>
                    <td><strong>Verify Certificate</strong>   </td>
                    <td><input type="file" name="certificate"></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center">--Or--</td>
                </tr>
                <tr>
                    <td><strong>User Name</strong></td>
                    <td><input type="text" name="user_name"></td>
                </tr>
                <tr>
                    <td></td><td><input type="submit" name="Verify" value="Verify"></td>
                </tr>
            </table>              
        </form>

    </body>
</html>
